@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Kumbh Sans', sans-serif;
  color: #333;
}

main {
  width: 25em;
  height: 60em;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}


img.header {
  width: 70%;
  z-index: 2;
}

img.shadow {
  width: 70%;
  z-index: 1;
  margin-top: -6em;
}

.card {
  width: 90%;
  background-color: #fff;
  border-radius: 1em;
  margin-top: -8em;
}

.card>h1 {
  margin-top: 5em;
  text-align: center;
}

.faq>h4 {
  display: flex;
  margin: 0 2em;
  font-size: .9em;
}

.faq>p {
  margin: 0 1.8em;
}

h4::after {
  content: url("./images/icon-arrow-down.svg");
  margin-left: auto;
}

.answer {
  display: none;
}

.active_title {
  display: block;
}